<div class="container-fluid">
  <div class="row ">
    <div class="col-md-5 column-content left-column">
      <div class="card border-primary">
        <div class="card-header">
          <span class="label">Requirements</span>
        </div>
        <div *ngIf="selectedDataset" class="card-body">
          <app-se-objectslist seObjectType="Requirement" [seObjectService]="_requirementService"
                              [seObjects]="requirements" [selectedSeObject]="selectedRequirement"
                              (selectedSeObjectChanged)="onSelectedRequirementChanged($event)"></app-se-objectslist>
        </div>
      </div>
    </div>
    <div class="col-md-7 column-content">
      <app-selected-requirement *ngIf="selectedRequirement" [selectedRequirement]="selectedRequirement"></app-selected-requirement>
    </div>
  </div>
</div>
