<div *ngIf="selectedSystemSlot" class="card border-primary">
  <div class="card-header">
    <span class="label">Selected System Slot:</span> {{selectedSystemSlot.label}}
  </div>
  <div class="card-body">
    <app-literal-property name="uri" [value]="selectedSystemSlot.uri" valueType="url"
                          [disabled]="true"></app-literal-property>
    <app-literal-property name="label" [value]="selectedSystemSlot.label" valueType="text" [disabled]="false"
                          (valueChanged)="onLabelChanged($event)"></app-literal-property>
    <app-iri-property name="assembly" [seObjectType]="systemSlotType" [seObject]="getAssembly()"
                      (valueChanged)="onAssemblyChanged($event)"
                      [disabled]="false"></app-iri-property>

    <app-iri-property-list name="parts" [items]="parts"
                           (editModeChanged)="onPartsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="partsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of parts" name="part" [seObject]="item" [seObjectType]="systemSlotType"
                        [disabled]="false"></app-iri-property>
    </div>

    <app-iri-property-list name="requirements" [items]="requirements"
                           (editModeChanged)="onRequirementsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="requirementsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of requirements" name="requirement" [seObject]="item" [seObjectType]="requirementType"
                        [disabled]="false"></app-iri-property>
    </div>

    <app-iri-property-list name="functions" [items]="functions"
                           (editModeChanged)="onFunctionsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="functionsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of functions" name="function" [seObject]="item" [seObjectType]="functionType"
                        [disabled]="false"></app-iri-property>
    </div>

    <app-iri-property-list name="interfaces" [items]="interfaces"
                           (editModeChanged)="onInterfacesEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="interfacesEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of interfaces" name="interface" [seObject]="item" [seObjectType]="networkConnectionType"
                        [disabled]="false"></app-iri-property>
    </div>

    <app-iri-property-list name="realisations" [items]="realisations"
                           (editModeChanged)="onRealisationsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="realisationsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of realisations" name="realisation" [seObject]="item" [seObjectType]="realisationModuleType"
                        [disabled]="false"></app-iri-property>
    </div>


  </div>
</div>
