<div *ngIf="selectedSystemSlot" class="card border-primary">
  <div class="card-header">
    <span class="label">Selected System Slot:</span> {{selectedSystemSlot.label}}
  </div>
  <div class="card-body">
    <app-literal-property name="uri" [value]="selectedSystemSlot.uri" valueType="url"
                          [disabled]="true"></app-literal-property>
    <app-literal-property name="label" [value]="selectedSystemSlot.label" valueType="text" [disabled]="false"
                          (valueChanged)="onLabelChanged($event)"></app-literal-property>
    <app-iri-property name="assembly" [seObjectType]="systemSlotType" [seObject]="getAssembly()" (valueChanged)="onAssemblyChanged($event)"
                      [disabled]="false"></app-iri-property>
    <app-iri-property-list name="parts" [items]="parts"></app-iri-property-list>

    <!--<button class="btn btn-outline-primary" (click)="commit()">Commit</button>-->
  </div>
</div>
