<div *ngIf="selectedRealisationModule" class="card border-primary">
  <div class="card-header">
    <span class="label">Selected Realisation Module:</span> {{selectedRealisationModule.label}}
  </div>
  <div class="card-body">
    <app-literal-property name="uri" [value]="selectedRealisationModule.uri" valueType="url"
                          [disabled]="true"></app-literal-property>
    <app-literal-property name="label" [value]="selectedRealisationModule.label" valueType="text" [disabled]="false"
                          (valueChanged)="onLabelChanged($event)"></app-literal-property>
    <app-iri-property name="assembly" [seObjectType]="realisationModuleType" [seObject]="getAssembly()"
                      (valueChanged)="onAssemblyChanged($event)"
                      [disabled]="false"></app-iri-property>

    <app-iri-property-list name="parts" [items]="parts"
                           (editModeChanged)="onPartsEditModeChange($event)"
                           (itemAdded)="onPartAdded($event)">
    </app-iri-property-list>
    <div *ngIf="partsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of parts" name="part" [seObject]="item" [seObjectType]="realisationModuleType"
                        [disabled]="true" (valueChanged)="onPartChanged($event,item)">
      </app-iri-property>
    </div>

    <app-iri-property-list name="performances" [items]="getPerformances()"
                           (editModeChanged)="onPerformancesEditModeChange($event)"
                           (itemAdded)="onPerformanceAdded($event)">
    </app-iri-property-list>
    <div *ngIf="performancesEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of performances" name="performance" [seObject]="item"
                        [seObjectType]="performanceType"
                        [disabled]="true" (valueChanged)="onPerformanceChanged($event,item)">
      </app-iri-property>
    </div>

    <app-iri-property-list name="ports" [items]="ports"
                           [selectedItemLabel]="selectedRealisationPort?selectedRealisationPort.label:''"
                           (editModeChanged)="onPortsEditModeChange($event)"
                           (itemAdded)="onPortAdded($event)">
    </app-iri-property-list>
    <div *ngIf="portsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-se-objectslist seObjectType="RealisationPort" [seObjects]="ports" [global]="false"
                          [selectedSeObject]="selectedRealisationPort"
                          [seObjectService]="_realisationPortService"
                          (selectedSeObjectChanged)="onSelectedRealisationPortChanged($event)"
                          (objectCreated)="onRealisationPortCreated($event)">
      </app-se-objectslist>
      <app-selected-realisation-port *ngIf="selectedRealisationPort"
                                     [selectedRealisationPort]="selectedRealisationPort">
      </app-selected-realisation-port>
    </div>

    <app-iri-property-list name="system slots" [items]="systemSlots"
                           (editModeChanged)="onSystemSlotsEditModeChange($event)">
    </app-iri-property-list>
    <div *ngIf="systemSlotsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of systemSlots" name="system slot" [seObject]="item"
                        [seObjectType]="systemSlotType"
                        [disabled]="false">
      </app-iri-property>
    </div>

  </div>
</div>
