<div class="card border-primary">
  <div class="card-header">
    Functions
  </div>
  <div *ngIf="selectedDataset" class="card-body">
    <app-se-objectslist [seObjectType]="'Function'" [seObjectService]="_functionService" [seObjects]="functions" [selectedSeObject]="selectedFunction"
                        (selectedSeObjectChanged)="onSelectedFunctionChanged($event)"></app-se-objectslist>
    <app-selected-function [selectedFunction]="selectedFunction"></app-selected-function>
  </div>
</div>
