<div class="container-fluid">
  <div class="row ">
    <div class="col-md-5 column-content left-column">
      <div class="card border-primary">
        <div class="card-header">
          <span class="label">System slots</span>
        </div>
        <div *ngIf="selectedDataset" class="card-body">
          <app-se-objectslist [seObjectType]="'SystemSlot'" [seObjectService]="_systemSlotService"
                              [seObjects]="systemSlots" [selectedSeObject]="selectedSystemSlot"
                              (selectedSeObjectChanged)="onSelectedSystemSlotChanged($event)"></app-se-objectslist>
        </div>
      </div>
    </div>
    <div class="col-md-7 column-content">
      <app-selected-system-slot *ngIf="selectedSystemSlot" [selectedSystemSlot]="selectedSystemSlot"></app-selected-system-slot>
    </div>
  </div>
</div>
