<div *ngIf="selectedHamburger" class="card border-primary">
  <div class="card-header">
    <span class="label">Selected Hamburger:</span> {{selectedHamburger.label}}
  </div>
  <div class="card-body">
    <app-literal-property name="uri" [value]="selectedHamburger.uri" valueType="url"
                          [disabled]="true"></app-literal-property>
    <app-literal-property name="label" [value]="selectedHamburger.label" valueType="text" [disabled]="false"
                          (valueChanged)="onLabelChanged($event)"></app-literal-property>
    <app-iri-property name="assembly" [seObjectType]="hamburgerType" [seObject]="assembly"
                      (valueChanged)="onAssemblyChanged($event)"
                      [disabled]="false"></app-iri-property>
    <app-iri-property-list name="parts" [items]="parts"
                           (editModeChanged)="onPartsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="partsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of parts" name="part" [seObject]="item" [seObjectType]="hamburgerType"
                        [disabled]="false"></app-iri-property>
    </div>

    <app-iri-property name="functional unit" [seObjectType]="systemSlotType" [seObject]="functionalUnit"
                      [disabled]="false"></app-iri-property>
    <app-iri-property name="technical solution" [seObjectType]="realisationModuleType" [seObject]="technicalSolution"
                      [disabled]="false"></app-iri-property>

    <app-iri-property-list name="port realisations" [items]="portRealisations"
                           (editModeChanged)="onPortRealisationsEditModeChange($event)"></app-iri-property-list>
    <div *ngIf="portRealisationsEditMode" class="card card-body border-info mb-3 pb-0">
      <app-iri-property *ngFor="let item of portRealisations" name="port realisation" [seObject]="item"
                        [seObjectType]="portRealisationType"
                        [disabled]="false"></app-iri-property>
    </div>

  </div>
</div>
