<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text label" id="basic-addon1">{{name}}</span>
  </div>
  <input *ngIf="!editMode" id="input" class="form-control" type="text" [value]="label" disabled>
  <select *ngIf="editMode" class="form-control" [(ngModel)]="seObject" (ngModelChange)="onChange($event)">
    <option [ngValue]="null"></option>
    <option *ngFor="let option of options" [ngValue]="option">{{option.label}}</option>
  </select>
  <div class="input-group-append">
    <div *ngIf="disabled && label!=='***'">
      <button class="btn btn-info" type="button" [disabled]="!seObject" (click)="delete()">
        <span class="fa fa-minus-square fa-lg"></span>
      </button>
    </div>
    <div *ngIf="!disabled || label==='***'">
      <button [class]="editMode ? 'btn btn-warning' : 'btn btn-info'" type="button"
              (click)="editMode = !editMode">
        <span class="fa fa-edit fa-lg"></span>
      </button>
    </div>
  </div>
</div>
